* {
  margin: 0;
  font-family: "Poppins Sans", "Poppins Sans Regular", "Poppins Medium",
    "Poppins Sans Bold", sans-serif;
}
:root {
  --color-gunmetal-black: #292f36;
  --color-erie-black: #212529;

  --color-slate-grey: #6c757d;

  --color-navy-blue: #00205b;
  --color-robinegg-blue: #4ecdc4;
  --color-sky-blue: #006bb0;

  --color-naples-yellow: #ffe66d;
  --color-sunglow-yellow: #ffca3a;

  --color-light-red: #ff6b6b;
  --color-royal-red: #e63946;

  --color-mintcream-white: #f7fff7;
  --color-antiflash-white: #dddddd;

  --color-emerald-green: #50c878;
  --color-dark-green: #003b36;

  --color-fulvous-orange: #e98a15;

  --color-french-violet: #7b2cbf;
}

h1 {
  color: var(--color-navy-blue);
}

h2 {
  color: var(--color-gunmetal-black);
}

h3 {
  color: var(--color-sky-blue);
}

h4 {
  color: var(--color-slate-grey);
}

p {
  color: var(--color-erie-black);
}

input {
  border: 1px solid var(--color-antiflash-white);
  border-radius: 5px;
  padding: 5px;
  &:focus {
    outline: none;
  }
}

button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: var(--color-robinegg-blue);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-slate-grey);
  }
  &:hover {
    background-color: var(--color-sky-blue);
  }
}

.imgbutton {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: var(--color-robinegg-blue);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-slate-grey);
  }
  &:hover {
    background-color: var(--color-sky-blue);
  }

  p {
    color: white;
  }

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
  }

  &.secondary {
    background-color: var(--color-emerald-green);
    &:hover {
      background-color: var(--color-dark-green);
    }
  }

  &.terciary {
    background-color: var(--color-light-red);
    &:hover {
      background-color: var(--color-royal-red);
    }
  }
}

.filterButton {
  color: var(--color-erie-black);
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 5px;
  font-weight: 500;

  &:disabled {
    cursor: not-allowed;
    color: var(--color-slate-grey);
  }

  &:hover {
    font-weight: bold;
    background-color: var(--color-antiflash-white);
  }
}

.selector {
  font-size: 14px;
}

.formContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.buttonIcon {
  padding: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  background-color: blueviolet;
  gap: 5px;
  white-space: nowrap; 

  img {
    width: 15px;
  }

  p {
    font-size: 11px;
    color: white;
  }

  &.sync {
    background-color: #00205b;
    &:hover {
      background-color: #006bb0;
    }
  }

  &.merge {
    &:hover {
      background-color: #4f1c7b;
    }
  }
  &.addIdentifier {
    background-color: #50c878;
    &:hover {
      background-color: #309853;
    }
  }

  &.saving {
    background-color: white;
    cursor: progress;
  }

  &.hideIdentifier {
    background-color: #c9c9c9;
    &:hover {
      background-color: #969696;
    }
  }

  &.delete {
    background-color: #6c757d;
    &:hover {
      background-color: #e63946;
    }
    &.large {
      img {
        height: 20px;
        width: 20px;
      }
    }
  }

  &.block {
    background-color: #50c878;
    &:hover {
      background-color: #309853;
    }
  }
  &.unblock {
    background-color: #e63946;
    &:hover {
      background-color: #96232c;
    }
  }

  &.save {
    background-color: #50c878;
    &:hover {
      background-color: #309853;
    }
  }

  &.send {
    background-color: #00205b;
    &:hover {
      background-color: #50c878;
    }
  }

  &.close {
    background-color: #c9c9c9;
    padding: 5px;
    &:hover {
      background-color: #969696;
    }
  }
}

.closeButtonColumn {
  padding-left: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.sectionTitle {
  font-size: 18px;
  color: #00205b;
  padding-top: 20px;
  font-weight: bold;
}

.status-badge {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: white;

  &.active {
    background-color: var(--color-emerald-green);
  }

  &.inactive {
    background-color: var(--color-light-red);
  }

  &.out {
    background-color: var(--color-naples-yellow);
    color: var(--color-gunmetal-black);
  }

  &.in {
    background-color: var(--color-robinegg-blue);
  }

  &.trash {
    background-color: var(--color-slate-grey);
  }
}

.expLabel {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.expColor {
  padding: 3px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  background-color: var(--color-french-violet);
  border-radius: 5px;
  color: white;
  &.white {
    background-color: var(--color-mintcream-white);
    color: var(--color-erie-black);
  }
  &.green {
    background-color: var(--color-emerald-green);
  }
  &.yellow {
    background-color: var(--color-naples-yellow);
    color: var(--color-erie-black);
  }
  &.red {
    background-color: var(--color-light-red);
  }
  &.black {
    background-color: var(--color-erie-black);
  }
}

.loading {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.icon {
  background-color: var(--color-emerald-green);
  padding: 7px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  &.red {
    background-color: var(--color-light-red);
  }
}
