.fileSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;           /* Ocupa todo el ancho del padre */
  box-sizing: border-box;
  gap: 10px;
  margin: 5px;
  padding: 5px;
}

.files {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: scroll;      /* Scroll horizontal si hay overflow */
  max-width: 100%;       /* No excede el ancho del contenedor */
}

.file {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 5px;
  border: 1px solid var(--color-antiflash-white);
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  background: white;
  align-items: center;
  white-space: nowrap; 
  &:hover{
    background-color: var(--color-antiflash-white);
  }  /* Evita que el nombre del archivo haga salto de línea */
}